footer {
    background-color: #212121;
    padding: 40px 0;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}
@media screen and (max-width: 800px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
    }
}
@media screen and (max-width: 400px) {
    .footer-container {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }
}

.footer-container .f-col-1 .info {
    width: 100%;
    max-width: 200px;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    color: var(--white-color);
    margin-top: 16px;
    padding: 0 20px 0 0;
}
@media screen and(max-width:400px) {
    .footer-container .f-col-1 .info {
        max-width: none;
    }
}
.footer-container .header {
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--white-color);
    position: relative;
}

.footer-container .header::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: calc(20px + 0.8vw);
    height: 2px;
    background-color: var(--primary-color);
}

.footer-container .footer-menu {
    list-style: none;
    margin-top: 28px;
}
.footer-container .footer-menu li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 6px 0;
    display: inline-block;
}
.footer-container .footer-menu li a:hover {
    color: var(--primary-color);
}

.footer-container .footer-contact {
    list-style: none;
    margin-top: 28px;
}

.footer-container .footer-contact li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 0;
    color: var(--white-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}
.footer-container .footer-contact li .icon {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 13px;
}
.footer-container .footer-contact li .icon svg {
    width: 20px;
    height: 20px;
}

.footer-container .footer-social {
    list-style: none;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-container .footer-social li {
    padding: 10px 10px;
    background-color: #0f0f0f;
    border-radius: 50%;
}
.footer-container .footer-social li a {
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container .footer-social li:hover {
    background-color: var(--primary-color);
}
.footer-container .footer-social li a svg {
    width: 16px;
    height: 16px;
}
